{% if main_nav %}
  <nav class="c-main-nav">
    <button type="button" class="js-nav-toggle c-main-nav__toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="c-main-nav__list">
      {% for item in main_nav.items %}
        <li class="{{item.classes | join(' ')}} c-main-nav__item">
          <a href="{{item.link}}" class="link c-main-nav__link">
            <span class="c-main-nav__link-inner">{{ item.title }}</span>
            {% if item.children %}
              <i class="icon-chevron-down"></i>
            {% endif %}
          </a>
          {% if item.children %}
            <div class="c-main-nav__dropdown">
              <ul class="c-main-nav__dropdown-list">
                {% for subitem in item.children %}
                  <li class="{{subitem.classes | join(' ')}} c-main-nav__subitem">
                    <a href="{{subitem.link}}" class="c-main-nav__sublink">{{subitem.title}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
